body {
	padding-top: 50px;
	font-family: 'Ubuntu', sans-serif;
	max-width: 100%;
}

.principal {
	padding: 40px 15px;
}

.nome-recurso, .informacoes-hospede-titulo {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	border: 0.3rem outset #212529;
	padding: 0.5em;
}

@media (min-width: 1000px) { 
	.nome-recurso {
		width: 50%;
		margin: 0 auto;

	}

 }

@media (min-width: 1000px) { 
	.informacoes-hospede-titulo {
		width: 70%;
		margin: 0 auto;

	}

 } 
.categoriaInfo {
	text-transform: capitalize;
	margin-top: 0.5em;
	margin-bottom: 0.4em;

}

.mais-acoes-link {
	margin-right: 10px;
}

.menu-visual, .menu-visual:hover {
	text-decoration: none;
	color: #f3f3f3;
}

.rodape-sistema {
	max-width: 100%;
	height: auto;
}

.informacoes-hospede-nome {
	text-align: center;
	font-style: italic;
}

.informacoes-hospede p {
	font-size: 1.2em;
}

.ver-dado-hospede {
	padding: 7px;
	background-color: #fff;
	color: green;
	margin-left: 10px;
}